@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.ttf") format("truetype");
}

body {
  font-family: "Vazir", system-ui, sans-serif;
  direction: rtl;
  text-align: right;
}

/* استایل‌های سفارشی دیگر */
.navbar-custom {
  background-color: #2563eb;
}

.footer-custom {
  background-color: #1e40af;
  color: white;
}
